<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consulta CNPJ</title>

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            overflow-x: hidden;
            font-size: 20px;
        }

        header {
            background-image: url('https://media.licdn.com/dms/image/v2/D4D3DAQHgVLfYcvTV6w/image-scale_191_1128/image-scale_191_1128/0/1699626753803/grupo_gps_cover?e=2147483647&v=beta&t=hWyt0fjBqY8fmJNfPH2mxNa1MbbfQsJlKON0I_J0MUM');
            background-size: cover;
            background-position: center;
            height: 200px;
            padding: 0;
        }

        .container {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            gap: 20px;
            flex-grow: 1;
        }

        .consulta, .empresas-cadastradas {
            flex: 1;
            min-width: 0;
        }

            .consulta h2, .empresas-cadastradas h3 {
                margin-top: 0;
            }

            .consulta input[type="text"] {
                width: 100%;
                padding: 12px;
                font-size: 20px;
                margin: 10px 0;
            }

            .consulta button {
                padding: 12px 24px;
                font-size: 20px;
                cursor: pointer;
            }

            .empresas-cadastradas ul li {
                margin-bottom: 15px;
            }

        #mensagem-sucesso {
            color: green;
        }

        .erro {
            color: red;
        }

        .resultado form select {
            padding: 10px;
            font-size: 20px;
            margin-right: 10px;
        }

        .resultado form button {
            padding: 10px 20px;
            font-size: 20px;
            cursor: pointer;
        }

        footer {
            text-align: center;
            padding: 10px;
            font-size: 20px;
            background-color: #003087;
            color: white;
            width: 100%;
        }
    </style>
</head>
<body>
    <header></header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <p>© 2025 - Consulta CNPJ</p>
    </footer>
</body>
</html>