<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consulta CNPJ</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-image: url('https://media.licdn.com/dms/image/v2/D4D3DAQHgVLfYcvTV6w/image-scale_191_1128/image-scale_191_1128/0/1699626753803/grupo_gps_cover?e=2147483647&v=beta&t=hWyt0fjBqY8fmJNfPH2mxNa1MbbfQsJlKON0I_J0MUM');
            background-size: cover;
            background-position: center;
            height: 200px;
            padding: 0;
        }

        .container {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 80%;
            margin: 0 auto;
            gap: 20px;
        }

        .consulta, .empresas-cadastradas {
            flex: 1;
            min-width: 0;
        }

            .consulta h2, .empresas-cadastradas h3 {
                margin-top: 0;
            }

        #mensagem-sucesso {
            color: green;
        }

        .erro {
            color: red;
        }

        footer {
            text-align: center;
            padding: 10px;
            font-size: 20px ;
            background-color: #003087;
            color: white;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <header></header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <p>© 2025 - Consulta CNPJ</p>
    </footer>
</body>
</html>