@model List<ConsultaCNPJ.Models.Empresa>

@{
    ViewData["Title"] = "Empresas Cadastradas";
}

<h2>Empresas Cadastradas</h2>

@if (Model.Any())
{
    <ul>
        @foreach (var empresa in Model)
        {
            <li>@empresa.Cnpj - @empresa.Nome</li>
        }
    </ul>
}
else
{
    <p>Nenhuma empresa cadastrada.</p>
}

<a href="/Empresa/Consultar">Nova Consulta</a>